@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1vi2sb');
  src:  url('../fonts/icomoon.eot?1vi2sb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1vi2sb') format('truetype'),
    url('../fonts/icomoon.woff?1vi2sb') format('woff'),
    url('../fonts/icomoon.svg?1vi2sb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-Facebook-1:before {
  content: "\e902";
  color: #ff5722;
}
.icon-Instagram-filled:before {
  content: "\e903";
  color: #fff;
}
.icon-chevron_down:before {
  content: "\e907";
  color: #fff;
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
